obj/
bin/
*.exe
*.depend
*.layout

CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt
CPackConfig.cmake
CPackSourceConfig.cmake
config.h

nehe_lesson_01
nehe_lesson_02
nehe_lesson_03
nehe_lesson_04
nehe_lesson_05
nehe_lesson_06
nehe_lesson_07
nehe_lesson_08
nehe_lesson_09
nehe_lesson_10
nehe_lesson_11
nehe_lesson_12

